<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VocalEyes Vibrato</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
</head>
<body>
<div class="container">
    <h1 class="text-center">VocalEyes Vibrato</h1>
    <br>
    <div class="col-lg-6">
        <br>
        <div class="row">
            <div class="col-lg-1">
                <button id="record" class="btn btn-md btn-default center-block">Record</button>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-4">
                Window (seconds)
            </div>
            <div class="col-lg-4">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </span>
                    <input type="text" name="quant[1]" class="form-control input-number" value="2" min="1" max="10">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4">
                Pitch center (Hz)
            </div>
            <div class="col-lg-4">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[2]">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </span>
                    <input type="text" name="quant[2]" class="form-control input-number" value="840" min="75" max="3000">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[2]">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <audio id="audio" src="../data/violin.mp3" controls></audio>
            </div>
        </div>
        <div class="row">
            <h1 id="pitch_name_element"></h1>
			<h1 id="offset_element"></h1>
            <br>
			<h1 id="pitch_freq_element"></h1>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div id="pitch_chart_div" style="height: 300px; width: 700px;"></div>
        </div>
        <div class="row">
            <div id="rate_chart_div" style="height: 300px; width: 700px;"></div>
        </div>
        <div class="row">
            <div id="width_chart_div" style="height: 300px; width: 700px;"></div>
        </div>
    </div>
</div>

<script src="../scripts/jquery-3.2.1.min.js"></script>
<script src="../scripts/bootstrap.min.js"></script>
<!--recorder.js comes from https://github.com/mattdiamond/Recorderjs
    For sample usage, see http://stackoverflow.com/questions/16413063/html5-record-audio-to-file-->
<script src="../scripts/noteName.js"></script>
<script src="../scripts/recorder.js"></script>
<script src="../scripts/canvasjs.min.js"></script>
<script src="../scripts/pitch-mpm.js"></script>
<script src="../scripts/audioprocessor.js"></script>
<script src="../scripts/visualizer.js"></script>
<script src="../scripts/utils.js"></script>
<script src="../scripts/main.js"></script>
</body>
</html>
